<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="table">
    <div id="title">
        <div class="col-md-1">
            <i class="material-icons" style="font-size:48px;color:rgb(46, 45, 45)">add_a_photo</i>
        </div>
        <div>
            <h4><strong>Hình Ảnh</strong></h4>
            <h6>Chọn tập tin để tải lên</h6>
        </div>
    </div>
    <hr/>
    <div id="add-photo">
        <div id="photo">
            <i class="material-icons" style="font-size:48px;color:rgb(143, 142, 153);" id="icon">add_to_photos</i>
        </div>
    </div>
</div>
