.header{
    text-align: center;
}
#myCarousel {
    height: 300px;
    border: 2px solid black;
}
img {
    max-width: 100%;
    height: 300px;
}
.images {
    height: 300px;
}
.ng-valid[required], .ng-valid.required, .same  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form), .different  {
    border-left: 5px solid #a94442; /* red */
  }