<div class=container-full>
    <div class=container>
        <div class="col-sm-4">
            <h3><b>Liên kết</b></h3>
            <ul>
                <li>
                    <i class="fa fa-facebook-square"></i>
                    <a>&nbsp;Facebook</a>
                </li>
                <li>
                    <i class="fa fa-google-plus-square"></i>
                    <a>&nbsp;Google+</a>
                </li>
                <li>
                    <i class="fa fa-youtube-play"></i>
                    <a>&nbsp;Youtube</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3><b>Hỗ trợ khách hàng</b></h3>
            <ul>
                <li>
                    <a>Trung tâm hỗ trợ</a>
                </li>
                <li>
                    <a>Quy định cần thiết</a>
                </li>
                <li>
                    <a>Liên hệ hỗ trợ</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3><b>Thông tin của chúng tôi</b></h3>
            <ul>
                <li>
                    <a>Giới thiệu</a>
                </li>
                <li>
                    <a>Tuyển dụng</a>
                </li>
                <li>
                    <a>Truyền thông</a>
                </li>
            </ul>
        </div>
    </div>
</div>