<app-filter></app-filter>
<div>
    <a class="col-sm-6" *ngFor="let ngoiNha of homes">
        <div class="col-sm-11 ngoi-nha">
            <img class="col-sm-4 img-circle" *ngIf="!ngoiNha.hinhAnhNha.length" src="assets/image/not-available.png" width=100% height ="150px" />
            <img class="col-sm-4 img-circle" *ngIf="ngoiNha.hinhAnhNha.length" [src]="ngoiNha.hinhAnhNha[0].hinhAnhView" width=100% height ="150px" />
            <div class="col-sm-8">
                <h3>{{ngoiNha.tenNha}}</h3>
                <p>Địa chỉ: {{ngoiNha.diaChi}}</p>
                <p *ngIf="!ngoiNha.tinhTrang">Chưa được thuê</p>
                <p *ngIf="ngoiNha.tinhTrang">Đã được thuê</p>
            </div>
        </div>
    </a>
</div>